<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragmentsAdmin.html :: header"></head>
<body>
<nav th:replace="admin/fragmentsAdmin.html :: topSiteBarAndMenu"></nav>
<br/>

<table class="table container">
    <thead>
    <tr>
        <th scope="col">Benutzername</th>
        <th scope="col">Betrag</th>
        <th scope="col">Ablehnen</th>
        <th scope="col">Genehmigen</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transferRequest : ${transferRequests}">
        <td th:text="${transferRequest.username}">Benutzername</td>
        <td th:text="${transferRequest.amount}">Betrag</td>
        <td><form action="/admin/erhoehungAblehenen" method="post">
            <input type="hidden" name="username" th:value="${transferRequest.username}">
            <input type="hidden" name="amount" th:value="${transferRequest.amount}">
            <br>
            <input style="background-color: white; color: red" type="submit" value="Ablehnen">
        </form></td>
        <td><form action="/admin/erhoehungGenehmigen" method="post">
            <input type="hidden" name="username" th:value="${transferRequest.username}">
            <input type="hidden" name="amount" th:value="${transferRequest.amount}">
            <br>
            <input style="background-color: white; color: green" type="submit" value="Genehmigen">
        </form></td>
    </tr>
    </tbody>
</table>

</body>
</html>