<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragmentsAdmin.html :: header"></head>
<body>
<nav th:replace="admin/fragmentsAdmin.html :: topSiteBarAndMenu"></nav>
<br/>
<table class="table container">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Benutzername</th>
        <th scope="col">Kontostand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personMitAccount : ${personenMitAccounts}">
        <th scope="row" th:text="${personMitAccount.person.id}"></th>
        <td th:text="${personMitAccount.person.username}">Username</td>
        <td th:text="${personMitAccount.account.amount}">Geld</td>
        <!--<td> <form action="/admin/erhoeheAmount" method="post">-->
            <!--<input type="hidden" name="username" th:value="${personMitAccount.person.username}">-->
            <!--<br>-->
            <!--<input type="submit" value="Erhöhe Kontostand">-->
        <!--</form> </td>-->
    </tr>
    </tbody>
</table>
<br/>

</body>
</html>