<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragmentsAdmin.html :: header"></head>
<body>
<nav th:replace="admin/fragmentsAdmin.html :: topSiteBarAndMenu"></nav>
<br/>
<div class="row justify-content-md-center">
    <div>
        <form th:action="@{/admin/changePassword}" method="post" style="margin: 15px">
            <div class="form-group" style="margin: 15px">
                <label>Bitte wählen Sie ein neues Kennwort: </label>
                <input type="password" class="form-control" name="newPassword" placeholder="Neues Kennwort"/><br/>
                <button class="btn btn-primary" type="submit">Kennwort ändern</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>