<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragmentsAdmin.html :: header"></head>
<body>
<nav th:replace="admin/fragmentsAdmin.html :: topSiteBarAndMenu"></nav>
<br/>
<table class="table container">
    <thead>
    <tr>
        <th scope="col">Besitzer</th>
        <th scope="col">Mieter</th>
        <th scope="col">Grund</th>
        <th scope="col">Punish</th>
        <th scope="col">Release</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="geraetWithRentEventsWithConflict : ${geraetWithRentEventsWithConflicts}">
        <td th:text="${geraetWithRentEventsWithConflict.geraet.besitzer.username}">Besitzer</td>
        <td th:text="${geraetWithRentEventsWithConflict.rentEvent.mieter.username}">Mieter</td>
        <td th:text="${geraetWithRentEventsWithConflict.rentEvent.grundForReturn}"></td>
        <td>
            <form action="/admin/punishAccount" method="post">
                <input type="hidden" name="mieter"
                       th:value="${geraetWithRentEventsWithConflict.rentEvent.mieter.username}">
                <input type="hidden" name="reservationId"
                       th:value="${geraetWithRentEventsWithConflict.rentEvent.reservationId}">
                <br>
                <input style="background-color: white; color: red" type="submit" value="Punish">
            </form>
        </td>
        <td>
            <form action="/admin/releaseAccount" method="post">
                <input type="hidden" name="mieter"
                       th:value="${geraetWithRentEventsWithConflict.rentEvent.mieter.username}">
                <input type="hidden" name="reservationId"
                       th:value="${geraetWithRentEventsWithConflict.rentEvent.reservationId}">
                <br>
                <input style="background-color: white; color: green" type="submit" value="Release">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>