<!DOCTYPE  html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>addieren ihre Geraet</h1>
    </div>

    <div class="card">
        <label for="titel">addieren Bilder:</label>
        <form  th:action="@{/addgeraet/bildupload}" method = "post" enctype="multipart/form-data">
            <input type = "file" name = "files" multiple  accept="image/png, image/jpeg, image/gif, image/jpg"> </input>
            <input type = "submit" value = "Upload Files"> </input>
        </form>
    </div>

    <div class="card">
        <form th:action="@{/addgeraet}" method="post">
            <label for="titel">Geraet Titel:</label>
            <input type="text" class="form-control" name="titel" id="titel" > </input>

            <label for="beschreibung">Geraet Beschreibung:</label>
            <input type="text" class="form-control" name="beschreibung" id="beschreibung" > </input>

            <label for="kaution">Kaution:</label>
            <input type="text" class="form-control" name="kaution" id="kaution"> </input>

            <label for="kosten">kosten:</label>
            <input type="text" class="form-control" name="kosten" id="kosten" > </input>

            <button type="submit" class="btn btn-primary" style="margin: 3px; height: 45px; width: 100px">Save</button>
        </form>
        <div class="card-body">
            <a href="/" class="card-link">Back</a>
        </div>

    </div>

</div>
</body>
</html>
