<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="index.html :: headMuster"></head>
<body>
<div>

    <div th:replace="index.html :: logo"></div>
    <div>
        <ul th:fragment="navigation" class="nav nav-tabs" style="background: deepskyblue">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>Home</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/personInfo}"><i class="fas fa-sign-in-alt"></i> Anmelden</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link active" th:href="@{/addUser}"><i class="fas fa-user-plus"></i> Registrieren</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li>
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/personInfo}">Mein Profil</a>
            </li>
            <li class="nav-item ml-auto">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Abmelden</a>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <div class="alert alert-danger" role="alert" th:if="${errorList} != null" th:each="error : ${errorList}">
            <p th:if="${error} == 'Size.person.username'">Please use between 6 and 32 characters.</p>
            <p th:if="${error} == 'Size.person.password'">Try one with at least 8 characters.</p>
            <p th:if="${error} == 'Duplicate.person.username'">Someone already has that username.</p>
            <p th:if="${error} == 'Diff.person.passwordConfirm'">These passwords don't match.</p>
        </div>
    </div>
    <div>
        <form action="/add" method="post">
            <div class="form-group" style="margin: 15px">
                <div class="col-6">
                    <label>Vorname:</label>
                    <input type="text" name="vorname" class="form-control" placeholder="Vornahme"><br>
                    <label>Nachname:</label>
                    <input type="text" name="nachname" class="form-control" placeholder="Nachnahme"><br>
                    <label>Kontaktdaten:</label>
                    <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
                    <br>
                    <input type="email" name="kontakt" class="form-control" aria-describedby="emailHelp" placeholder="Email"><br>
                    <label>Adresse:</label>
                    <input type="text" name="adresse" class="form-control" placeholder="Adresse"><br>
                    <label>Username:</label>
                    <small id="userHelpInline" class="text-muted">Must be more 6 characters long.</small>
                    <br>
                    <input type="text" name="username" class="form-control" placeholder="Username"><br>
                    <label>Password:</label>
                    <small id="passwordHelpInline" class="text-muted">Must be 8-20 characters long.</small>
                    <br>
                    <input type="password" name="password" class="form-control" placeholder="Password"><br>
                    <label>Bitte bestätige Dein Password:</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Bitte wiederhole Dein Password"><br>
                    <button class="btn btn-primary" type="submit" style="position: relative">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="index.html :: footer"></div>
</div>
</body>
</html>
