<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index.html :: headMuster"></head>
<body  style="background-color: #3CBCC3">
<nav th:replace="profile.html :: profile"></nav>

<div class="container">
    <div class="row" style="margin-left: 5px">
        <h1>Verleihen Iher Gerät</h1>
    </div>

    <div class="card" style="padding: 10px; margin-bottom: 10px">
        <form th:action="@{/PersonInfo/Profile/ChangeProfile}" method="post" enctype="multipart/form-data">

            <label>Foto Hochladen(Max. 15MB)</label>
            <input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/jpg"/>
            <br>
            <label for="vorname">Vorname : </label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="vorname" id="vorname"
                   th:value="${user.getVorname()}"/>

            <label for="nachname">Nachname : </label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="nachname" id="nachname"
                   th:value="${user.getNachname()}"/>

            <label for="kontakt">Kontakt : </label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="kontakt" id="kontakt"
                   th:value="${user.getKontakt()}"/>

            <label for="adresse">Adresse :</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="adresse" id="adresse"
                   th:value="${user.getAdresse()}"/>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="card-body">
            <a href="/" class="card-link">Back</a>
        </div>
    </div>
</div>
</body>
</html>