<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestätigung der Registrierung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<p class="navbar" style="background-color: deepskyblue;">
    <a href="/" class="navbar-brand" style="color: white">
        <strong>Startseite</strong>
    </a>
</p>
<h3 th:text="${person.name}"><b>Name</b></h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="'Username: ' + ${person.username}" >Username</li>
    <li class="list-group-item" th:text="'Kontakt Daten: ' + ${person.kontakt}" >Kontakt Daten</li>
    <li class="list-group-item" th:text="'Adresse: ' + ${person.adresse}">Adresse</li>
</ul>
</div>
<div th:replace="index.html :: footer"></div>
</body>
</html>