<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestätigung der Registrierung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="profile.html :: profile"></div>
<div th:replace="index.html :: navbar"></div>

<h3 th:text="${geraet.titel}"><b>Titel</b></h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="'Beschreibung: ' + ${geraet.beschreibung}" >Beschreibung</li>
    <li class="list-group-item" th:text="'Abholord: ' + ${geraet.abholort}">Abholord</li>
</ul>
</div>
<div th:replace="index.html :: footer"></div>
</body>
</html>

