<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="profile" class="navbar" style="background-color: deepskyblue;">
    <a href="/" class="nav-link" style="color: white">
        <img class="rounded" src="https://avatars2.githubusercontent.com/u/44258883?s=460&v=4" height="50px" width="50px">
    </a>
</nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/PersonInfo/Profile}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/PersonInfo/MyThings}">My Things</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/PersonInfo/RentThings}">Already Rent Things</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mein Konto</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Logout</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
</ul>

<div th:replace="index.html :: footer"></div>
</body>
</html>