<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>
<br>

<div class="container" style="max-height: 400px; max-width: 712px">
    <div class="row">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!--Hier muss man noch Thymleaf benutzen!-->
                <div class="carousel-item active" >
                    <img th:src="@{'data:image/jpeg;base64,'+ ${geraet.getEncode()}}"
                         class="d-block w-100" style="max-height: 400px; max-width: available">
                </div>
                <div class="carousel-item" th:each="encode:${encodes}">
                    <img th:src="@{'data:image/jpeg;base64,'+ ${encode}}"
                         class="d-block w-100" style="max-height: 400px; max-width: available">
                </div>
            </div>
            <a class="carousel-control-prev" href="#controller" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" style="color: darkgrey" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#controller" role="button" data-slide="next">
                <span class="carousel-control-next-icon" style="color: darkgrey" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br/>
    <div class="w-100">
        <h4 th:text="${geraet.getTitel()}"></h4>
        <label th:text="'Beschreibung: ' + ${geraet.getBeschreibung()}"></label><br/>
        <label th:text="'Miete: ' + ${geraet.getKosten()}+' €/Tag'" style="color: blue"></label><br/>
        <label th:text="'Kaution: '+${geraet.getKaution()}+' €'" style="color: blue"></label>
        <div th:if="${geraet.getBesitzer()!= person.username}">
            <form th:action="@{'/user/anfragen/' +${geraet.getId()}}">
                <button class="btn btn-primary" type="submit">Anfragen</button>
            </form>
            <form th:action="@{'/user/BesitzerInfo/' +${geraet.getId()}}">
                <button class="btn btn-primary" type="submit">
                    Besitzer:
                    <p th:text="${geraet.getBesitzer()}">
                    </p>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>