<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div th:replace="index.html :: navbar"></div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/PersonInfo}">Anmelden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/addUser}">Registrieren</a>
    </li>
</ul>
<div th:if="${param.error}" style="margin: 15px">
    Invalid username and password.
</div>
<div th:if="${param.logout}" style="margin: 15px">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post" style="margin: 15px">
    <div class="form-group" style="margin: 15px">
        <label>User Name : </label>
        <input type="text" class="form-control" name="username"/><br/>
        <label>Password: </label>
        <input type="password" class="form-control" name="password"/><br/>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
<div th:replace="index.html :: footer"></div>
</body>
</html>