<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="index.html :: headMuster"></head>
<body style="background-color: #3CBCC3">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F7F4E9">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="rounded-circle" src="https://i.imgur.com/DAVPylQ.png" height="100px"
                                                  width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupported" style="color: white">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item active">
                        <a class="nav-link" th:href="@{/personInfo}"><i class="fas fa-sign-in-alt"></i> Anmelden</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/addUser}"><i class="fas fa-user-plus"></i> Registrieren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}"><i class="fas fa-dragon"></i> About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row justify-content-md-center">
        <div>
            <div class="alert alert-danger" role="alert" th:if="${param.error}" style="margin: 15px">
                Invalid username and password.
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.logout}" style="margin: 15px">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post" style="margin: 15px">
                <div class="form-group" style="margin: 15px">
                    <label>User Name : </label>
                    <input type="text" class="form-control" name="username" placeholder="Username"/><br/>
                    <label>Password: </label>
                    <input type="password" class="form-control" name="password" placeholder="Password"/><br/>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>

    <!--<div th:replace="index.html :: footer"></div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>