<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="index.html :: headMuster"></head>
<body  style="background-color: #3CBCC3">
<nav th:fragment="profile" class="navbar navbar-expand-lg navbar-light" style="background-color: #F7F4E9">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="rounded-circle" src="https://i.imgur.com/DAVPylQ.png" height="100px"
                                              width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupported" style="color: white">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item dropdown active">
                    <a sec:authorize="isAuthenticated()" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" th:text="'Hello ' + ${user.username}"> Name</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/profile}">Meine Daten</a>
                        <a class="dropdown-item" th:href="@{/proPay}">Mein ProPay</a>
                        <a class="dropdown-item" th:href="@{/myThings}">Meine Geräte</a>
                        <a class="dropdown-item" th:href="@{/rentThings}">Meine Ausleihen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Abmelden</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/user/myRemind}" class="nav-link">
                        <i class="fas fa-bell"></i>
                        <span class="badge badge-pill badge-info" th:text="${zahl}">4</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}"><i class="fas fa-dragon"></i> About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
<div class="row">
    <div th:each="myThing: ${notification}" class="col-sm-3">
        <div class="clearfix" style="margin-bottom: 20px;">
            <div class="card" style="padding-top: 40px;padding-bottom: 40px">
                <ul class="list-inline card-text" th:if="${myThing.getType()=='ausleihen'}">
                    <span class="badge badge-warning">Neue Anfrage zum Ausleihen</span>
                </ul>
                <ul class="list-inline card-text" th:if="${myThing.getType()=='zurueck'}">
                    <span class="badge badge-warning">Neue Anfrage zum Zurückgeben</span>
                </ul>
                <img class="card-img-top" src="https://www.apple.com/newsroom/images/product/iphone/standard/iPhone_X_family_line_up_big.jpg.large.jpg">
                <div class="card-body text-left">
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">Zeitraum: </li>
                        <li class="list-inline-item"  th:text="${myThing.getZeitraum()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >Message: </li>
                        <li class="list-inline-item text-truncate" style="max-width: 200px" th:text="${#strings.abbreviate(myThing.getMessage(),100)}"></li>
                    </ul>
                    <ul class="list-inline card-text" >
                        <li class="list-inline-item font-weight-bold" >Miete ZeitPunkt: </li>
                        <li class="list-inline-item" th:text="${myThing.getMietezeitPunkt()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">Anfrage Person: </li>
                        <li class="list-inline-item" th:text="${myThing.getAnfragePerson()}"></li>
                    </ul>
                    <form th:action="@{/notification/delete/{id}(id=${myThing.getId()})}" method="post">
                        <button type="submit">Ablehnen</button>

                    </form>
                    <!--Here Mach API BEZAHLEN-->
                    <form th:action="@{/notification/accept/{id}(id=${myThing.getId()})}" method="post">
                        <button type="submit">Annehmen</button>

                    </form>
                    <!-- Button trigger modal -->


                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>