<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="profile.html :: profile"></div>
<div th:replace="profile.html :: navigation"></div>

<ul class="nav nav-tabs" style="border-bottom: none">
    <li class="nav-item">
        <p style="margin: 15px;"><a th:href="@{/addGeraet}">
            <span class="glyphicon glyphicon-plus" height="40px" width="40px"></span>
            Neues Gerät hinzüfugen
        </a>
        </p>
    </li>
</ul>

<div class="card-group">
    <div th:each="myThing: ${geraete}" class="col-sm-3">
        <div class="clearfix" style="   margin-bottom: 20px;">
            <div class="card" style="padding-top: 20px;padding-bottom: 40px">
                <img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+ ${myThing.getEncode()}}"/>
                <div class="card-body text-left">
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">TITEL: </li>
                        <li class="list-inline-item"  th:text="${myThing.getTitel()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >BESCHREIBUNG: </li>
                        <li class="list-inline-item text-truncate" style="max-width: 200px" th:text="${#strings.abbreviate(myThing.beschreibung,100)}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >KOST: </li>
                        <li class="list-inline-item" th:text="${myThing.getKosten() + '€'}"></li>
                    </ul>
                    <ul class="list-inline card-text" >
                        <li class="list-inline-item font-weight-bold" >KAUTION: </li>
                        <li class="list-inline-item" th:text="${myThing.getKaution() + '€'}"></li>
                    </ul>

                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">STATUS: </li>
                        <li class="list-inline-item" th:text="${myThing.isVerfuegbar()}"></li>
                    </ul>
                    <a th:href="@{/geraet/{id}(id=${myThing.getId()})}" >Details</a>
                    <a th:href="@{/geraet/edit/{id}(id=${myThing.getId()})}">Edit</a>
                    <form th:action="@{/geraet/delete/{id}(id=${myThing.getId()})}" method="post">
                        <button type="submit">Delete</button>

                    </form>
                    <!-- Button trigger modal -->


                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="index.html :: footer"></div>
</body>
</html>