<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="profile.html :: profile"></div>
<div th:replace="profile.html :: navigation"></div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" style="color: white" th:href="@{/addGeraet}">
            <img src="http://pnga.mypng.cn/2153/77-circle-plus.png" height="40px" width="40px">
        </a>
    </li>
    <li class="nav-item ml-auto" th:fragment="remind">
        <a class="nav-link" style="color: white" th:href="@{/myRemind}">
            <img src="https://pic.52112.com/icon/256/20180709/17508/888451.png" height="40px" width="40px">
        </a>
    </li>
</ul>

<div class="card-body" style="text-align: center">
    <h2 class="card-text" th:text="'Hier ist leer jetzt...'"></h2>
</div>

<div th:replace="index.html :: footer"></div>
</body>
</html>