<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="profile.html :: profile"></div>
<div th:replace="profile.html :: navigation"></div>

<ul class="nav nav-tabs" style="border-bottom: none">
    <li class="nav-item">
        <p style="margin: 15px;"><a th:href="@{/addGeraet}">
            <span class="glyphicon glyphicon-plus" height="40px" width="40px"></span>
            Neues Gerät hinzüfugen
        </a>
        </p>
    </li>
</ul>

<div th:each="geraet : ${geraete}" class="card-body" style="text-align: center">
    <h2 class="card-text" th:text="${geraet.titel}"></h2>
</div>

<div th:replace="index.html :: footer"></div>
</body>
</html>