<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments.html :: header"></head>
<body>
<div th:replace="fragments.html :: topSiteBarAndMenu"></div>

<div class="container" th:if="${person.getRole()=='ROLE_USER'}">
<div class="row">
    <div th:each="myThing: ${notification}" class="col-sm-3">
        <div class="clearfix" style="margin-bottom: 20px;">
            <div class="card" style="padding-top: 40px;padding-bottom: 40px">
                <ul class="list-inline card-text" th:if="${myThing.getType()=='ausleihen'}">
                    <span class="badge badge-warning">Neue Anfrage zum Ausleihen</span>
                </ul>
                <ul class="list-inline card-text" th:if="${myThing.getType()=='zurueck'}">
                    <span class="badge badge-warning">Neue Anfrage zum Zurückgeben</span>
                </ul>
                <img class="card-img-top" src="https://www.apple.com/newsroom/images/product/iphone/standard/iPhone_X_family_line_up_big.jpg.large.jpg">
                <div class="card-body text-left">
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">Zeitraum: </li>
                        <li class="list-inline-item"  th:text="${myThing.getZeitraum()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >Message: </li>
                        <li class="list-inline-item text-truncate" style="max-width: 200px" th:text="${#strings.abbreviate(myThing.getMessage(),100)}"></li>
                    </ul>
                    <ul class="list-inline card-text" >
                        <li class="list-inline-item font-weight-bold" >Miete ZeitPunkt: </li>
                        <li class="list-inline-item" th:text="${myThing.getMietezeitPunkt()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">Anfrage Person: </li>
                        <li class="list-inline-item" th:text="${myThing.getAnfragePerson()}"></li>
                    </ul>
                    <div th:if="${myThing.getType()=='request'}" >
                        <form th:action="@{/notification/refuseRequest/{id}(id=${myThing.getId()})}" method="post">
                            <button type="submit" style="background-color: red">Anfrage ablehnen</button>

                        </form>
                        <br/>
                        <!--Here Mach API BEZAHLEN-->
                        <form th:action="@{/notification/acceptRequest/{id}(id=${myThing.getId()})}" method="post">
                            <button type="submit" style="background-color: green">Anfrage annehmen</button>

                        </form>
                        <!-- Button trigger modal -->
                    </div>
                    <div th:if="${myThing.getType()=='return'}" >
                        <form th:action="@{/notification/refuseReturn/{id}(id=${myThing.getId()})}" method="post">
                            <button type="submit">Ablehnen Return</button>

                        </form>
                        <!--Here Mach API BEZAHLEN-->
                        <form th:action="@{/notification/acceptReturn/{id}(id=${myThing.getId()})}" method="post">
                            <button type="submit">Annehmen Return</button>

                        </form>
                        <!-- Button trigger modal -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:if="${person.getRole()=='ROLE_ADMIN'}">
    <div class="row">
        <div th:each="myThing: ${transferRequestList}" class="col-sm-3">
            <div class="clearfix" style="margin-bottom: 20px;">
                <div class="card" style="padding-top: 40px;padding-bottom: 40px">
                    <ul class="list-inline card-text" >
                        <span class="badge badge-warning">Neue Überweisungsanfrage</span>
                    </ul>

                    <img class="card-img-top" src="https://www.apple.com/newsroom/images/product/iphone/standard/iPhone_X_family_line_up_big.jpg.large.jpg">
                    <div class="card-body text-left">
                        <ul class="list-inline card-text">
                            <li class="list-inline-item font-weight-bold">Anfrage Person: </li>
                            <li class="list-inline-item" th:text="${myThing.getUsername()}"></li>
                        </ul>
                        <ul class="list-inline card-text">
                            <li class="list-inline-item font-weight-bold">Amount: </li>
                            <li class="list-inline-item" th:text="${myThing.getAmount()}"></li>
                        </ul>
                        <div>
                            <button >Ablehnen </button>


                            <!--Here Mach API BEZAHLEN-->

                            <button >Annehmen </button>

                            <!-- Button trigger modal -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>