<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div th:replace="profile.html :: profile"></div>

<div class="card text-center">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/PersonInfo/Profile}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/PersonInfo/MyThings}">My Things</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/PersonInfo/RentThings}">Already Rent Things</a>
        </li>
    </ul>
</div>

<div class="card-body">
    <p class="card-text">My rent things</p>
</div>

<div th:replace="index.html :: footer"></div>
</body>
</html>