<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="profile.html :: profile"></div>
<div th:replace="profile.html :: navigation"></div>


<div class="row">
    <div th:each="rentThing: ${geraete}" class="col-sm-3">
        <div class="clearfix" style="margin-bottom: 20px;">
            <div class="card" style="padding-top: 40px;padding-bottom: 40px">
                <img class="card-img-top" src="https://www.apple.com/newsroom/images/product/iphone/standard/iPhone_X_family_line_up_big.jpg.large.jpg">
                <div class="card-body text-left">
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">TITEL: </li>
                        <li class="list-inline-item"  th:text="${rentThing.getTitel()}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >BESCHREIBUNG: </li>
                        <li class="list-inline-item text-truncate" style="max-width: 200px" th:text="${#strings.abbreviate(rentThing.beschreibung,100)}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold" >KOST: </li>
                        <li class="list-inline-item" th:text="${rentThing.getKosten() + '€'}"></li>
                    </ul>
                    <ul class="list-inline card-text" >
                        <li class="list-inline-item font-weight-bold" >KAUTION: </li>
                        <li class="list-inline-item" th:text="${rentThing.getKaution() + '€'}"></li>
                    </ul>
                    <ul class="list-inline card-text">
                        <li class="list-inline-item font-weight-bold">STATUS: </li>
                        <li class="list-inline-item" th:text="${rentThing.isVerfuegbar()}"></li>
                    </ul>
                    <a th:href="@{/geraet/{id}(id=${rentThing.getId()})}" >Details</a>



                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="index.html :: footer"></div>
</body>
</html>