<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="navbar" style="background-color: black;">
    <a href="/" class="navbar-brand" style="color: white">
        <strong>PersonInfo</strong>
    </a>
</div>

<div style="background-color:black ;text-align: center ">
    <img class="img-circle" src="https://avatars2.githubusercontent.com/u/44258883?s=460&v=4" height="200px" width="200px">
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/PersonInfo/Profile/{id}(id=${user.getId()})}" style="background-color: black">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/PersonInfo/MyThings/{id}(id=${user.getId()})}" style="background-color: black">My Things</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/PersonInfo/RentThings/{id}(id=${user.getId()})}" style="background-color: black">Already Rent Things</a>
            </li>
        </ul>
    </div>
</div>

<div class="card-body">
    <p class="card-text">My rent things</p>
</div>

<div class="alert alert-secondary">
    <p>© Made by Happy-Gruppe</p>
</div>
</body>
</html>