<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>

<div class="container"><br/>
    <h3 class="text-justify text-center font-weight-normal">Hinzufügen eines Gerätes: </h3>

    <div class="row justify-content-md-center">
        <form th:action="@{/user/addGeraet}"  method="post" enctype="multipart/form-data"><br/>
            <label for="titel">Titel:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="titel" id="titel" required/>

            <label for="beschreibung">Beschreibung:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="beschreibung" id="beschreibung" />

            <label for="kosten">Miete Pro Tag:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="kosten" id="kosten" required/>

            <label for="kaution">Kaution:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="kaution" id="kaution" required/>

            <label for="kaution">Abholort:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="abholort" id="abholort" />

            <label for="mietezeitpunktStart">Miete Start Datum:</label>
            <input style="margin-bottom: 10px" type="date" class="form-control" name="mietezeitpunktStart"
                   id="mietezeitpunktStart"/>
            <br/>
            <label for="mietezeitpunktEnd">Miete End Datum:</label>
            <input style="margin-bottom: 10px" type="date" class="form-control" name="mietezeitpunktEnd"
                   id="mietezeitpunktEnd"/>

            <label for="titel">Bilder Hochladen (Max. 15MB): </label><br/>
            <input style="padding-top: 10px" type = "file" name = "files" multiple  accept="image/png, image/jpeg, image/gif, image/jpg" />
            <br/><br/>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
