<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>
<br>
<div class="container">
    <div class="card" style="padding: 10px; margin-bottom: 10px">
        <form th:action="@{/user/anfragen/{id}(id=${geraet.getId()})} "  method="post">
            <label for="mietezeitpunktStart">Miete Start Datum:</label>
            <input style="margin-bottom: 10px" type="date" class="form-control" name="mietezeitpunktStart"
                   id="mietezeitpunktStart"/>
            <br/>
            <label for="mietezeitpunktEnd">Miete End Datum:</label>
            <input style="margin-bottom: 10px" type="date" class="form-control" name="mietezeitpunktEnd"
                   id="mietezeitpunktEnd"/>
            <label for="message">Message:</label>
            <br/>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="message" id="message"/>
            <input type="hidden" name="besitzer" th:value="${geraet.besitzer}">

            <button type="submit" class="btn btn-primary">Schicken</button>
        </form>
    </div>
</div>
</body>
</html>