<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: header">
</head>
<body>
<div th:replace="fragments.html :: topSiteBarAndMenu">
</div>

<div class="container align-self-center">
    <div style="margin: 15px">
        <ul class="list-inline card-text">
            <li class="list-inline-item">
                <img class="img-circle" th:src="@{'data:image/jpeg;base64,'+ ${person.getEncode()}}" height="100px" width="100px">
            </li>
            <br>
            <li class="list-inline-item font-weight-bold">Username:</li>
            <li class="list-inline-item" th:text="${person.getUsername()}"></li>
            <br>
            <li class="list-inline-item font-weight-bold">Kontakt:</li>
            <li class="list-inline-item" th:text="${person.getKontakt()}"></li>
            <br>
            <li class="list-inline-item font-weight-bold">Adresse:</li>
            <li class="list-inline-item" th:text="${person.getAdresse()}"></li>
            <br>
            <li class="list-inline-item font-weight-bold">Aktion Punkte:</li>
            <li class="list-inline-item" th:text="${person.getAktionPunkte()}"></li>
        </ul>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">Kommentare</div>
    <!--<h2>Kommentare zu seinen Leihgaben </h2>-->
    <!--<div class="card-body">-->

    <!--</div>-->

    <h5 class="card-title" style="text-align: center">Kommentare zu seinen geliehenen Artikeln</h5>
    <div class="card-body" style="text-align: left" th:each="comment:${comments}">
        <ul class="list-inline card-text">
            <li class="list-inline-item" >
                <a th:href="@{/user/BesitzerInfo/{id}(id=${comment.getPersonId()})}" th:text="${comment.getSenderFrom()}"></a>
            </li>
            <br>
            <li class="list-inline-item" th:text="'   ' + ${comment.getMessage()}"></li>
            <br>
            <li class="list-inline-item" style="color: darkgrey" th:text="'Kommentare über '+${comment.getGeraetTitel()} +' am ' + ${comment.getDate()}"></li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
