<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>
<br/>
<div class="container" style="border-color: white">
    <div class="row" style="margin-left: 5px">
    </div>
    <div class="card" style="padding: 10px; margin-bottom: 10px">
        <form th:action="@{/user/PersonInfo/Profile/ChangeProfile}" method="post" enctype="multipart/form-data">

            <label for="vorname">Vorname : </label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="vorname" id="vorname"
                   th:value="${person.getVorname()}"/>

            <label for="nachname">Nachname : </label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="nachname" id="nachname"
                   th:value="${person.getNachname()}"/>

            <label for="kontakt">Kontakt : </label>
            <input style="margin-bottom: 10px" type="email" class="form-control" name="kontakt" id="kontakt"
                   th:value="${person.getKontakt()}" required/>

            <label for="adresse">Adresse :</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="adresse" id="adresse"
                   th:value="${person.getAdresse()}"/>
            <input style="margin-bottom: 10px" type="hidden" class="form-control" name="username" id="username"
                   th:value="${person.username}"/>
            <label>Foto Hochladen (Max. 15 MB)</label><br/>
            <input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/jpg"
                   onchange="checkFoto(this)"/>
            <br/><br/>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/changeProfile.js">
</script>
</body>
</html>