<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>

<div class="container">
    <div class="row" style="margin-left: 5px">
        <h1>Gerät bearbeiten</h1>
    </div>

    <div class="card" style="padding: 10px; margin-bottom: 10px">
        <form th:action="@{/user/geraet/edit/{id}(id=${geraet.getId()})}" th:object="${geraet}" method="post" enctype="multipart/form-data">
            <label for="titel">Bilder Hochladen(Max. 15MB)</label>
            <label>(Hinweis:Sie können mehrere Bilder hochladen. Das erste wird zum Cover Ihres Artikels und ersetzt alle Ihre alten Bilder.)</label>
            <input style="padding-top: 10px" type = "file" name = "files" multiple  accept="image/png, image/jpeg, image/gif, image/jpg" onchange="checkFile(this)"/>
            <br>
            <label for="titel">Titel:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="titel" id="titel" th:value="${geraet.titel}" />

            <label for="beschreibung">Beschreibung:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="beschreibung" id="beschreibung" th:value="${geraet.beschreibung}"/>

            <label for="kosten">kosten Pro Tag:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="kosten" id="kosten" onchange="checkKosten()" th:value="${geraet.kosten}" required pattern="[0-9]{1,8}" />

            <label for="kaution">Kaution:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control"
                   name="kaution" id="kaution" th:if="${!geraet.isForsale()}" onchange="checkKaution()" th:value="${geraet.kaution}" required pattern="[0-9]{1,8}" />

            <label for="abholort">Abholort:</label>
            <input style="margin-bottom: 10px" type="text" class="form-control" name="abholort" id="abholort" th:value="${geraet.abholort}"/>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="card-body">
            <a href="/" class="card-link">Back</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkFile(el){
        var files = el.files;
        var allowTypes = ["image/jpeg","image/png","image/jpg","image/gif"];
        var allowUpload = true;
        var errorMessage = "";        for(var i=0; i< files.length; i++){
            var fileName = files[i].name;
            var fileType = files[i].type;            var typeAccepted = false;
            for(var j = 0; j < allowTypes.length; j++){
                if(allowTypes[j] == fileType){
                    typeAccepted = true;
                    break;
                }
            }
            if(typeAccepted != true){
                errorMessage += fileName + " nicht erlaubt. Nur jpeg,jpg,png,gif.";
                allowUpload = false;
            }
        }        if(allowUpload != true){
            el.outerHTML = el.outerHTML;
            alert(errorMessage);
        }
    }

    function checkKosten() {
        var kosten = $("#kosten").val();
        if(kosten==""){
            alert("Bitte eingabe Kosten pro Tag!");
            $("#kosten").val("");
            return false;
        }else if(kosten<="0"){
            alert("The nummber must be bigger than 0");
            $("#kosten").val("");
            return false;
        }else{
            for (i = 0 ; i < kosten.length ; i++) {
                if ((kosten.charAt(i) < '0') || (kosten.charAt(i) > '9')){
                    alert("Eingabe muss eine Integer sein!");
                    $("#kosten").val("");
                    return false;
                }
            }
            return true;
        }
    }

    function checkKaution() {
        var kaution = $("#kaution").val();
        if(kaution==""){
            alert("Bitte eingabe Kaution!");
            $("#kaution").val("");
            return false;
        } else if (kaution < "0") {
            alert("The nummber must be bigger than 0");
            $("#kaution").val("");
            return false;
        }else{
            for (i = 0 ; i < kaution.length ; i++) {
                if ((kaution.charAt(i) < '0') || (kaution.charAt(i) > '9')){
                    alert("Eingabe muss eine Integer sein!");
                    $("#kaution").val("");
                    return false;
                }
            }
            return true;
        }
    }
</script>
</body>
</html>