<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header">
</head>

<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>
<br>

<div class="container" style="max-height: 400px; max-width: 712px">
    <br/>
    <div class="w-100">
        <div class="card" style="width: 25rem; border-style: wave; border-width: 10px">
            <div th:fragment="geraetContainer" class="container">
                <div th:fragment="oneGeraetWithoutDelete">
                    <img th:if="${geraet.getEncode()==null}" class="card-img-top" style="height: 20rem"
                         src="https://avatars2.githubusercontent.com/u/44258883?s=460&v=4">
                    <img th:unless="${geraet.getEncode()==null}" class="card-img-top" style="height: 20rem;
                             width: 100%; object-fit: cover"
                         th:src="@{'data:image/jpeg;base64,'+ ${geraet.getEncode()}}">
                    <div class="card-body">
                        <p class="card-text" th:text="${geraet.getTitel()}" style="font-weight: bold;
                                font-size: x-large">Content</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold"
                            th:text="'Beschreibung : ' + ${#strings.abbreviate(geraet.beschreibung,100)}">BESCHREIBUNG :
                        </li>
                        <li th:if="${!geraet.isForsale()}" class="list-group-item"
                            th:text="'Kosten : ' + ${geraet.getKosten() + '€/Tag'}">KOST :
                        </li>
                        <li th:if="${geraet.isForsale()}" class="list-group-item"
                            th:text="'Kosten : ' + ${geraet.getKosten() + '€'}">KOST :
                        </li>
                        <li th:if="${!geraet.isForsale()}" class="list-group-item"
                            th:text="'Kaution : ' + ${geraet.getKaution() + '€'}">KAUTION:
                        </li>
                        <li class="list-group-item" th:text="'Abholort : ' + ${geraet.getAbholort()}">ABHOLORT: :</li>
                        <br/>
                        <span th:if="${!geraet.isForsale()}" class="badge badge-success">Verfügbar</span>
                        <li th:if="${!geraet.isForsale()}" th:each="verfugbarEvent: ${geraet.getVerfuegbareEvents()}"
                            style="margin: 15px; color: darkgreen;
                            font-weight: bold; margin-left: 20px">
                            <tr th:if="${verfugbarEvent.getTimeInterval().getEnd().after(#dates.createNow())}">
                                <td th:if="${verfugbarEvent.getTimeInterval().getStart().before(#dates.createNow())}"
                                    th:text="${#dates.format(#dates.createNow(), 'dd.MM.')} +
                                    ' - ' + ${#dates.format(verfugbarEvent.getTimeInterval().getEnd(), 'dd.MM.yyyy')}"></td>
                                <td th:if="${verfugbarEvent.getTimeInterval().getStart().after(#dates.createNow())}"
                                    th:text="${#dates.format(verfugbarEvent.getTimeInterval().getStart(), 'dd.MM.')} +
                                    ' - ' + ${#dates.format(verfugbarEvent.getTimeInterval().getEnd(), 'dd.MM.yyyy')}"></td>
                            </tr>
                        </li>
                        <br/>
                        <span th:if="${!geraet.isForsale()}" class="badge badge-danger">Schon verliehen</span>
                        <li th:if="${!geraet.isForsale()}" th:each="rentEvent: ${geraet.getRentEvents()}" style="margin: 15px; color: darkred;
                            font-weight: bold; margin-left: 20px; opacity: 0.6">
                            <tr>
                                <td th:text="${#dates.format(rentEvent.getTimeInterval().getStart(), 'dd.MM.')} +
                                    ' - ' + ${#dates.format(rentEvent.getTimeInterval().getEnd(), 'dd.MM.yyyy')} +
                                    ' von ' + ${rentEvent.mieter.username}"></td>
                            </tr>
                        </li>
                    </ul>
                    <br/>
                    <div th:if="${(geraet.getBesitzer().getUsername()!= person.getUsername())}">
                        <form th:if="${!geraet.isForsale()}" th:action="@{'/user/anfragen/' +${geraet.getId()}}">
                            <button class="btn btn-primary" type="submit">Anfragen</button>
                        </form>
                        <form th:if="${geraet.isForsale()}" th:action="@{'/user/sale/' +${geraet.getId()}}"
                              method="post">
                            <p th:if="${account.getAmount()} < ${geraet.getKosten()}">Ihr Kontostand reicht nicht aus.
                                Bitte gehen Sie auf Propay, um sich aufzuladen！</p>
                            <button th:unless="${account.getAmount()} < ${geraet.getKosten()}" class="btn btn-primary" type="submit">Sofort Kaufen</button>
                        </form>
                    </div>
                    <br/>
                    <form th:action="@{'/user/BesitzerInfo/' +${personForComment.getId()}}">
                        <button class="btn btn-primary" type="submit">
                            Info über Besitzer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>