<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: header"></head>
<body>
<nav th:replace="fragments.html :: topSiteBarAndMenu"></nav>

<div class="container">
    <ul class="nav nav-tabs" style="border-bottom: none">
        <li class="nav-item">
            <p style="margin: 15px;"><a class="badge badge-pill badge-primary" th:href="@{/user/addGeraet}">
                <i class="fas fa-plus"></i>
                Neues Gerät hinzüfugen
            </a>
            </p>
        </li>
    </ul>


    <div class="container">
        <div class="row justify-content-around">
            <div class="col-5 w-50 card" style="width: 15rem;" th:each="myThing: ${geraete}" >
                <img th:if="${myThing.getEncode()==null}" class="card-img-top"
                     src="https://avatars2.githubusercontent.com/u/44258883?s=460&v=4">
                <img th:unless="${myThing.getEncode()==null}" class="card-img-top"
                     th:src="@{'data:image/jpeg;base64,'+ ${myThing.getEncode()}}">
                <div class="card-body">
                    <h5 class="card-title">TITEL : </h5>
                    <p class="card-text" th:text="${myThing.getTitel()}">Content</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold" th:text="'Beschreibung : ' + ${#strings.abbreviate(myThing.beschreibung,100)}">BESCHREIBUNG : </li>
                    <li class="list-group-item" th:text="'Kosten : ' + ${myThing.getKosten() + '€'}">KOST : </li>
                    <li class="list-group-item" th:text="'Kaution : ' + ${myThing.getKaution() + '€'}">KAUTION:</li>
                    <li class="list-group-item">
                        <span th:if="${myThing.isVerfuegbar()}==true" class="badge badge-success">Verfügbar</span>
                        <span th:if="${myThing.isVerfuegbar()}==false" class="badge badge-danger">Besetzt</span>
                    </li>
                    <li th:each="rentEvent: ${myThing.getRentEvents()}">
                        <tr>
                            <td th:text="'Von: '+${rentEvent.getTimeInterval().getStart()} + ' bis ' + ${rentEvent.getTimeInterval().getEnd()}"></td>
                        </tr>
                    </li>
                    <br/>
                    Verfuegbar
                    <li th:each="verfugbarEvent: ${myThing.getVerfuegbareEvents()}">
                        <tr>
                            <td th:text="'Von: '+${verfugbarEvent.getTimeInterval().getStart()} + ' bis ' + ${verfugbarEvent.getTimeInterval().getEnd()}"></td>
                        </tr>
                    </li>
                </ul>
                <div class="card-body">
                    <a th:href="@{/user/geraet/{id}(id=${myThing.getId()})}" >Details</a>
                </div>
                <div class="card-body" th:if="${myThing.isVerfuegbar()}">
                    <a th:href="@{/user/geraet/edit/{id}(id=${myThing.getId()})}">Edit</a>
                    <form th:action="@{/user/geraet/delete/{id}(id=${myThing.getId()})}" method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>