<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<html lang="en">
<head th:replace="fragments.html :: header"></head>
<body>
    <div th:replace="fragments.html :: topSiteBarAndMenu"></div>
    <div class="row justify-content-md-center">
        <div>
            <ul class="list-group" style="background-color: blanchedalmond">
                <li class="list-group-item" th:text="'Username: ' + ${person.username}" >Username</li>
                <li class="list-group-item" th:text="'Kontakt Daten: ' + ${person.kontakt}" >Kontakt Daten</li>
                <li class="list-group-item" th:text="'Adresse: ' + ${person.adresse}">Adresse</li>
                <a href="/login"><li class="list-group-item">Anmelden</li></a>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>