<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments.html :: header"></head>
<div th:replace="fragments.html :: topSiteBarAndMenu">
</div>
<div class="row justify-content-md-center">
    <div>
        <div class="alert alert-danger" role="alert" th:if="${param.error}" style="margin: 15px">
            Benutzername und Kennwort sind ungültig.
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.logout}" style="margin: 15px">
            Sie wurden abgemeldet.
        </div>
        <form th:action="@{/login}" method="post" style="margin: 15px">
            <div class="form-group" style="margin: 15px">
                <label>User Name : </label>
                <input type="text" class="form-control" name="username" placeholder="Username"/><br/>
                <label>Password: </label>
                <input type="password" class="form-control" name="password" placeholder="Password"/><br/>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>