<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="fragments.html :: header"></head>
<body>
<div th:replace="fragments.html :: topSiteBarAndMenu"></div>
    <div class="row justify-content-md-center">
        <div>
            <div class="alert alert-danger" role="alert" th:if="${errorList} != null" th:each="error : ${errorList}">
                <p th:text="${error}">Error</p>
            </div>
            <form action="/addNewUser" method="post" enctype="multipart/form-data">
                <div class="form-group" style="margin: 15px">
                        <label>Vorname:</label>
                    <input type="text" name="vorname" class="form-control" placeholder="Vornahme"><br>
                    <label>Nachname:</label>
                    <input type="text" name="nachname" class="form-control" placeholder="Nachnahme"><br>
                    <label>Kontaktdaten:</label>
                    <small id="emailHelp" class="text-muted">Wir geben Ihre Daten nie an Dritte weiter.</small>
                    <br>
                    <input type="email" name="kontakt" class="form-control" aria-describedby="emailHelp" placeholder="Email" required><br>
                    <label>Adresse:</label>
                    <input type="text" name="adresse" class="form-control" placeholder="Adresse"><br>
                    <label>Username:</label>
                    <small id="userHelpInline" class="text-muted">Muss mindestens 6 Zeichen lang sein.</small>
                    <br>
                    <input type="text" name="username" class="form-control" placeholder="Username"><br>
                    <label>Password:</label>
                    <small id="passwordHelpInline" class="text-muted">Muss zwischen 8 und 20 Zeichen lang sein.</small>
                    <br>
                    <input type="password" name="password" class="form-control" placeholder="Password"><br>
                    <label>Bitte bestätigen Sie ihr Password:</label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Bitte wiederholen Sie ihr Password"><br>
                    <label>Profilbild hochladen (Max. 15 MB) : </label><br/>
                    <input style="padding-top: 10px" type = "file" name = "file" accept="image/png, image/jpeg, image/gif, image/jpg" onchange="checkFoto(this)"/>
                    <br><br/>
                    <button class="btn btn-primary" type="submit" style="position: relative">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function checkFoto(upload) {
            var filename = upload.value;
            var mime = filename.toLowerCase().substr(filename.lastIndexOf("."));
            if(mime!=".jpg" && mime!=".jpeg" && mime!=".png" && mime!=".gjf"){
                alert(filename+" nicht erlaut. Nur jpeg, jpg, gif, png.")
            }
        }
    </script>

</body>
</html>
